@import "tailwindcss";

/* ====== */
:root {
    --primary: #3b82f6;
    --orange: #d7573b;
}

body {
    background-color: #ECECEC;
}

::-webkit-scrollbar {
    width: 5px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1px;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px;
}

/* hover on thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}