@import "tailwindcss";

/* ====== */
:root {
    --managerColor: #0B0F19;
    --captainColor: #3b82f6;
    --thirdColor: #4f607e;
}

body {
    background-color: #ECECEC;
}

::-webkit-scrollbar {
    width: 5px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1px;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px;
}

/* hover on thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* These codes for calendar */
.p-datepicker-buttonbar {
    display: flex;
    justify-content: end;
}

.clear-btn-in-calendar {
    display: none;
}

.today-btn-in-calendar {
    color: black;
    content: "";
}

.input-date-in-calendar {
    border: 1px solid #00000049;
    box-shadow: none !important;
}

.p-datepicker-trigger {
    background-color: black;
    border: none !important;
    box-shadow: none !important;
}

.p-disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

/* These codes for hidden the eye in input password */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}

input[type="password"] {
    -webkit-text-security: disk;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* بالنسبة لمتصفح Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}